@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,600;0,700;0,800;0,900;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

#page_name {
    color: #663399;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.inner{
    min-height : 80dvh;
    padding-top: auto;
    padding-bottom: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.intitle-1{
    align-self : left;
    font-size: 30px;
    font-weight: 400;
    padding: 10px;
}

.intitle-2{
    align-self : left;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
}

.left-1{
    margin-left: 10px;
}

.radio-list{
    margin-top: 10px;
    margin-left: 30px;
}

.hr-solid {
border : 0px;
border-top: 3px solid #663399;
}

.hr-dotted {
border : 0px;
border-top: 5px dotted #663399;
}

.hr-dashed {
border : 0px;
border-top: 5px dashed #663399;
}

.result_row {
    cursor : pointer;
}

.mge_table{
    height:50px;
}

#user_info{
    font-size:larger;
}

.blurry-background {
    width: 700px; 
    position: absolute; 
    background-position: right center; 
    z-index: -1; 
    margin-left: 40%;
    opacity: 50%;
}

.google-btn{
    padding:0;
    margin: 0;
}

.login-prompt{
    text-align: center;
}

.job-type{
    padding: 1%
}