<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>PneumoFinder</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" id="page_name" href="/">Pneumoniae</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link active" href="/about">about</a>
                      <a class="nav-link" href="/submit">submit</a>
                      <a class="nav-link" id="nav-result" href="#">result</a>
                      <a class="nav-link" href="#">mypage</a>
                    </div>
                  </div>
                </div>
            </nav>
        </div>
        
        <script src="/static/js/common.js"></script>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
