<!-- templates/index.html -->
<!DOCTYPE html>

<html>
    <head>
        <title>PneusPage</title>
        <link rel="icon" href="../static/images/favicon.svg">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-lg-purple border">
                <div class="container-fluid">
                  <a class="navbar-brand" id="page_name" href="/">
                    <img src="/static/images/logo.svg" style="width: 100px;">
                  </a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link " href="/doc">DOCUMENTATION</a>
                      {% if login == True %}
                      <a class="nav-link" href="/submit">SUBMIT</a>
                      <a class="nav-link active" id="nav-result" href="#">RESULT</a>
                      <a class="nav-link" href="/mypage">MYPAGE</a>
                      {% endif %}
                    </div>
                  </div>
                  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <div class="navbar-nav">
                      <li class="nav-item">
                        {% if login == False %}
                          <a class="nav-link" href="/login">Login</a>
                        {% else %}
                          <a class="nav-link" id="user_id" style="display: none;">{{user_id}}</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        {% endif %}
                      </li>
                    </div>
                  </div>
                </div>
            </nav>
        </div>
        <div class="row flex-grow-sm-1 flex-grow-0">
          <div class="col-2">
            <nav id="navbar-detail" class="h-100 flex-column align-items-stretch border-end bg-light justify-content-center">
              <nav class="nav nav-pills flex-column text-center">
                <a class="nav-link text-center" href="#QC">Qulity Control</a>
                <a class="nav-link text-center" href="#assem_scaffold">Assembled Scaffold</a>
                <a class="nav-link text-center" href="#genome_qc_area">Genome QC</a>
                <a class="nav-link text-center" href="#species">Species prediction</a>
                {% if species=="Streptococcus pneumoniae" %}
                <a class="nav-link text-center" href="#serotype">Serotype</a>
                <a class="nav-link text-center" href="#gene_annot_area">Gene annotation</a>
                <a class="nav-link text-center" href="#mlst_area">MLST</a>
                <a class="nav-link text-center" href="#cgmlst_area">cgMLST</a>
                <a class="nav-link text-center" href="#gpsc_area">GPSC</a>
                <a class="nav-link text-center" href="#amr_area">AMR detection</a>
                <a class="nav-link text-center" href="#vf_area">Virulence Factor</a>
                <a class="nav-link text-center" href="#MGE_area">Mobile Gene Element</a>
                <a class="nav-link text-center" href="#plasmid_area">Plasmid Type</a>
                <a class="nav-link text-center" href="#pbp_area">PBP Typing</a>
                {% endif %}
              </nav>
            </nav>
          </div>
          <div class="container inner col-8 overflow-auto" id="detail_data">
            <div data-bs-spy="scroll" data-bs-target="#navbar-detail" data-bs-smooth-scroll="true" class="row align-items-center" tabindex="0">
              <div class="col justify-content-center">
                <div class="intitle-1">Job {{key}} Detiles</div>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Input file</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr class="result_row">
                        <th scope="row">{{row["job_num"]}}</th>
                        <td>{{row["job_name"]}}</td>
                        <td>{{row["date"]}}</td>
                        <td>{{row["input"]}}</td>
                        <td>{{row["state"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <div id="QC" class="section">
                  <div class="mb-3 intitle-2">Qulity Control<small class="text-muted"> with FastQC</small></div>
                    {% for file in files %}
                    <button class="btn btn-primary fastqc_download" type="button">{{file}}</button>
                    {% endfor %}
                </div>
                <hr></hr>
                <div id="genome_qc_area" class="section">
                  <div class="mb-3 intitle-2">Assembled Genome QC
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#quast">▲</button>
                  </div>
                  
                  <div id="quast" class="collapse show">
                    <table class="table table-striped" >
                        <tr>
                            {% for col in quast.columns %}
                            <th scope="col">{{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for index, row in quast.iterrows() %}
                        <tr>
                            {% for col in quast.columns %}
                            <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="assem_scaffold" class="section">
                  <div class="mb-3 intitle-2">Assembled Scaffold
                    <button class="btn btn-primary assembled_download" type="button">download fasta sequence</button>
                  </div>
                </div>
                <hr></hr>
                <div id="species" class="section">
                  <div class="mb-3 intitle-2">Species prediction</div>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tr>
                          {% for col in kraken.columns %}
                          <th scope="col">{{ col }}</th>
                          {% endfor %}
                      </tr>
                      {% for index, row in kraken.iterrows() %}
                      <tr>
                          {% for col in kraken.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                  </div>
                </div>
                {% if species=="Streptococcus pneumoniae" %}
                <hr></hr>
                <div id="serotype" class="section">
                  <div class="mb-3 intitle-2">Serotype
                    {% if sero_bool!=False %}
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#sero">▼</button>
                    {% endif %}
                  </div>
                  <div>
                    {% for i in sero_txt %}
                      <div> {{ i }}</div>
                    {% endfor %}
                  </div>
                  {% if sero_bool!=False %}
                  <div class="table-responsive collapse" id="sero">
                    <table class="table table-striped">
                      <tr>
                          {% for col in seroba.columns %}
                          <th scope="col">{{ col }}</th>
                          {% endfor %}
                      </tr>
                      {% for index, row in seroba.iterrows() %}
                      <tr>
                          {% for col in seroba.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                  </div>
                  {% endif %}
                </div>
                <hr></hr>
                <div id="gene_annot_area" class="section">
                  <div class="mb-3 intitle-2">Gene annotation
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#gene_annot">▼</button>
                    <button class="btn btn-primary gene_anot_download" type="button">download</button>
                  </div>
                  <div id="gene_annot" class="collapse">
                    <table class="table table-striped" >
                        <tr>
                            {% for col in prokka.columns %}
                            <th scope="col">{{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for index, row in prokka.iterrows() %}
                        <tr>
                            {% for col in prokka.columns %}
                            <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="mlst_area" class="section">
                  <div class="mb-3 intitle-2">MLST
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mlst">▲</button>
                  </div>
                  <div class="collapse show" id="mlst">
                  <table class="table table-bordered">
                        <tr>
                            <th rowspan="2" scope="col">MLST</th>
                            <th colspan="7" scope="col">profile</th>
                        </tr>
                        <tr>
                            {% for info in mlst_info %}
                            <td>{{ info }}</td>
                            {% endfor %}
                        </tr>
                        <tr>
                          {% for val in mlst_val %}
                          <td>{{ val }}</td>
                          {% endfor %}
                      </tr>
                    </table>
                  </div>
                </div>
                <div id="cgmlst_area" class="section">
                  <hr></hr>
                  <div class="mb-3 intitle-2">cgMLST
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#cgmlst">▲</button>
                  </div>
                  <div id="cgmlst" class="collapse show">
                    <table class="table table-striped">
                        <tr>
                            {% for col in cgmlst.columns %}
                            <th scope="col">{{ col }}</th>
                            {% endfor %}
                        </tr>
                        {% for index, row in cgmlst.iterrows() %}
                        <tr>
                            {% for col in cgmlst.columns %}
                            <td>{{ row[col] }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="gpsc_area" class="section">
                  <div class="mb-3 intitle-2">The Global Pneumococcal Sequencing Project Cluster
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#gpsc">▲</button>
                  </div>
                  <div class="table-responsive collapse show" id="gpsc">
                    <table class="table table-striped">
                    <tr>
                        {% for col in poppunk.columns %}
                        <th scope="col">{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for index, row in poppunk.iterrows() %}
                    <tr class="mge_table">
                        {% for col in poppunk.columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="amr_area" class="section">
                  <div class="mb-3 intitle-2">AMR detection
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#amr">▼</button>
                  </div>
                  <div class="table-responsive collapse" id="amr">
                    <table class="table table-striped">
                    <tr>
                        {% for col in amr.columns %}
                        <th scope="col">{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for index, row in amr.iterrows() %}
                    <tr class="mge_table">
                        {% for col in amr.columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="vf_area" class="section">
                  <div class="mb-3 intitle-2">Virulence Factor
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#vf">▼</button>
                  </div>
                  <div id="vf" class="collapse">
                    <table class="table table-striped">
                      <tr>
                          {% for col in vir.columns %}
                          <th scope="col">{{ col }}</th>
                          {% endfor %}
                      </tr>
                      {% for index, row in vir.iterrows() %}
                      <tr>
                          {% for col in vir.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                    {% endfor %}
                    </table>
                  </div>
                </div>
                <hr></hr>
                <div id="mge_area" class="section">
                  <div class="mb-3 intitle-2">Mobile Gene Element
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mge">▼</button>
                  </div>
                  <div id="mge" class="collapse">
                    <div class="table-responsive">
                      <table class="table table-striped">
                      <tr>
                          {% for col in mge.columns %}
                          <th scope="col">{{ col }}</th>
                          {% endfor %}
                      </tr>
                      {% for index, row in mge.iterrows() %}
                      <tr class="mge_table">
                          {% for col in mge.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
                <hr></hr>
                <div id="plasmid_area" class="section">
                  <div class="mb-3 intitle-2">Plasmid Type
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#plasmid">▼</button>
                  </div>
                  <div id="plasmid" class="collapse">
                    <div class="table-responsive">
                      <table class="table table-striped">
                      <tr>
                          {% for col in plasmid.columns %}
                          <th scope="col">{{ col }}</th>
                          {% endfor %}
                      </tr>
                      {% for index, row in plasmid.iterrows() %}
                      <tr class="mge_table">
                          {% for col in plasmid.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
                <hr></hr>
                <div id="pbp_area" class="section">
                  <div class="mb-3 intitle-2">PBP Typing
                    <button class="btn toggle" type="button" data-bs-toggle="collapse" data-bs-target="#pbp">▼</button>
                  </div>
                  <div id="pbp" class="collapse">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                              {% for col in pbp_category.columns %}
                              <th scope="col">{{ col }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                      {% for index, row in pbp_category.iterrows() %}
                      <tr>
                          {% for col in pbp_category.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                    </div>
                    <p></p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead class="thead-light">
                          <tr>
                              {% for col in pbp_agent.columns %}
                              <th scope="col">{{ col }}</th>
                              {% endfor %}
                          </tr>
                        </thead>
                      {% for index, row in pbp_agent.iterrows() %}
                      <tr>
                          {% for col in pbp_agent.columns %}
                          <td>{{ row[col] }}</td>
                          {% endfor %}
                      </tr>
                      {% endfor %}
                      </table>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <footer class="text-center text-lg-start bg-light text-muted">
          <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2023 Copyright:
            <a class="text-reset fw-bold" href="https://lab.minholee.net/">Minho Lee LAB</a> @Dongguk univ.
          </div>
        </footer>
      </div>

      <script src="/static/js/common.js"></script>
      <script src="/static/js/detail.js"></script>
      <script src="https://code.jquery.com/jquery-latest.js"></script>
      <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
