<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Pneumoniae</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" id="page_name" href="/">Pneumoniae</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link " href="/doc">document</a>
                      <a class="nav-link" href="/submit">submit</a>
                      <a class="nav-link active" id="nav-result" href="#">result</a>
                      <a class="nav-link" href="/mypage">mypage</a>
                    </div>
                  </div>
                  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <div class="navbar-nav">
                      <li class="nav-item">
                        {% if login == False %}
                          <a class="nav-link" href="/login">Login</a>
                        {% else %}
                          <a class="nav-link" id="user_id" style="display: none;">{{user_id}}</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        {% endif %}
                      </li>
                    </div>
                  </div>
                </div>
            </nav>
        </div>
        <div class="container inner">
          <div class="row align-items-center">
            <div class="col justify-content-center">
                <div class="intitle-1">Job {{key}} Detiles</div>
                <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Job Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Input file</th>
                        <th scope="col">Type</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr class="result_row">
                        <th scope="row">{{row["id"]}}</th>
                        <td>{{row["jobname"]}}</td>
                        <td>{{row["date"]}}</td>
                        <td>{{row["input"]}}</td>
                        <td>{{row["type"]}}</td>
                        <td>{{row["state"]}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </table>
                <div class="mb-3 intitle-2">Serotype</div>
                <div>{{seroba | safe}}</div>
                <div class="mb-3 intitle-2">MLST</div>
                <table class="table table-striped">
                    <tr>
                        {% for col in mlst.columns %}
                        <th scope="col">{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for index, row in mlst.iterrows() %}
                    <tr>
                        {% for col in mlst.columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <div class="mb-3 intitle-2">cgMLST</div>
                <table class="table table-striped">
                    <tr>
                        {% for col in cgmlst.columns %}
                        <th scope="col">{{ col }}</th>
                        {% endfor %}
                    </tr>
                    {% for index, row in cgmlst.iterrows() %}
                    <tr>
                        {% for col in cgmlst.columns %}
                        <td>{{ row[col] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </table>
              <div class="mb-3 intitle-2">virulence factor</div>
              <table class="table table-striped">
                <tr>
                    {% for col in vir.columns %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for index, row in vir.iterrows() %}
                <tr>
                    {% for col in vir.columns %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
              {% endfor %}
              </table>
              <div class="mb-3 intitle-2">Mobile Gene Element</div>
              <div class="table-responsive">
                <table class="table table-striped">
                <tr>
                    {% for col in mge.columns %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for index, row in mge.iterrows() %}
                <tr class="mge_table">
                    {% for col in mge.columns %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
            </div>
            <div class="mb-3 intitle-2">kmerfinder</div>
            <div class="table-responsive">
              <table class="table table-striped">
                <tr>
                    {% for col in kmer.columns %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for index, row in kmer.iterrows() %}
                <tr>
                    {% for col in kmer.columns %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
            </div>
            </div>
              <div class="mb-3 intitle-2">BLAST</div>
              <table class="table table-striped">
                <tr>
                    {% for col in blast.columns %}
                    <th scope="col">{{ col }}</th>
                    {% endfor %}
                </tr>
                {% for index, row in blast.iterrows() %}
                <tr>
                    {% for col in blast.columns %}
                    <td>{{ row[col] }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </table>
            </div>
          </div>
        </div>

        <script src="/static/js/common.js"></script>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
