<!-- templates/index.html -->
<!DOCTYPE html>
<html>
    <head>
        <title>Pneumoniae</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                  <a class="navbar-brand" id="page_name" href="/">Pneumoniae</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                      <a class="nav-link " href="/doc">documentation</a>
                      <a class="nav-link" href="/submit">submit</a>
                      <a class="nav-link" id="nav-result" href="#">result</a>
                      <a class="nav-link active" href="/mypage">mypage</a>
                    </div>
                  </div>
                  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <div class="navbar-nav">
                      <li class="nav-item">
                        {% if login == False %}
                          <a class="nav-link" href="/login">Login</a>
                        {% else %}
                          <a class="nav-link" id="username" style="display: none;">{{username}}</a>
                          <a class="nav-link" href="/logout">Logout</a>
                        {% endif %}
                      </li>
                    </div>
                  </div>
                </div>
            </nav>
            <div class="container inner">
              <div class="row align-items-center" style="height: 90dvh; display: grid; grid-template-columns: auto auto;">
                <img src="/static/images/profile.svg" style="width:300;height:300px;" alt="profile">
                <div style="display: inline-block" id="user_info">
                  <div id="user_name">NAME : {{ username }}</div>
                  <div id="email">E-Mail : {{ email }}</div>
                  <div id="join_date">JOIN DATE : {{ join_date }}</div>
                </div>
              </div>  
            </div>
            <footer class="text-center text-lg-start bg-light text-muted">
              <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                © 2023 Copyright:
                <a class="text-reset fw-bold" href="https://lab.minholee.net/">Minho Lee LAB</a> @Dongguk univ.
              </div>
            </footer>
        </div>
        
        <script src="/static/js/common.js"></script>
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    </body>
</html>
